@model YazLab1.Models.DuyuruModel

@{
    ViewBag.Title = "Duyuru Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="panel-heading">
    <b>Duyuru Ekle</b>
</div>

@using (Ajax.BeginForm("AddAnnouncement", "Admin", new AjaxOptions { OnSuccess = "onSuccess", UpdateTargetId = "parentDiv" }, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div id="parentDiv" class="panel-body col-lg-5">
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.RadioButtonFor(m => m.tip, "1")  Genel Duyuru
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.tip, "2") Bölüm Duyurusu
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.tip, "3") Haber ve Etkinlik
                </label>
            </div>
        </div>

        <div class="form-group">
            <p class="help-block"><b>Duyuru Başlığı</b></p>
            @Html.TextBoxFor(model => model.DuyuruBasligi, new { @class = "form-control", @placeholder = "Duyuru Başlığı" })
            @Html.ValidationMessageFor(model => model.DuyuruBasligi, null, new { @class = "help-inline" })
        </div>

        <div class="form-group">
            <p class="help-block"><b>Duyuru Metni</b></p>
            @Html.TextAreaFor(model => model.DuyuruMetni, new { @id="duyuruMetniText",@class = "form-control", @placeholder = "Duyuru Metni", @style = "resize:none", @rows = "5" })
            @Html.ValidationMessageFor(model => model.DuyuruMetni, null, new { @class = "help-inline" })
            <br />
            <a id="btnLinkEkle" class="btn btn-default">Link Ekle</a>
            <a id="btnKoyu" class="btn btn-default">Koyu Yaz</a>
            <a id="btnAltiniCiz" class="btn btn-default">Altını Çiz</a>
            <a id="btnSatir" class="btn btn-default">Satır Atla</a>
            <a id="btnCls" class="btn btn-default">Tümünü Sil</a>
        </div>

        <div class="form-group">
            <p class="help-block"><b>Oluşturan</b></p>
            @Html.TextBoxFor(model => @model.Olusturan, new { @disabled = "disabled", @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Kaydet" />
        </div>
    </div>
}

<script type="text/javascript">
    function onSuccess(result) {
        $.validator.unobtrusive.parse($(result));
    }

    $('#btnLinkEkle').click(function () {
        var text = $('textarea#duyuruMetniText').val();
        $('textarea#duyuruMetniText').val(text + '<a target="_blank" href="Gideceği Adresi Buraya Yapıştırın">Verilen Linkin Adını Buraya Yapıştırın</a>');
        $('textarea#duyuruMetniText').focus();
        //$('textarea#duyuruMetniText').select();
    });

    $('#btnKoyu').click(function () {
        var text = $('textarea#duyuruMetniText').val();
        $('textarea#duyuruMetniText').val(text + '<b>Buraya Koyu Yazıyı Yapıştır</b>');
        $('textarea#duyuruMetniText').focus();
    });

    $('#btnAltiniCiz').click(function () {
        var text = $('textarea#duyuruMetniText').val();
        $('textarea#duyuruMetniText').val(text + '<u>Buraya Altı Çizili Yazıyı Yapıştır</u>');
        $('textarea#duyuruMetniText').focus();
    });

    $('#btnSatir').click(function () {
        var text = $('textarea#duyuruMetniText').val();
        $('textarea#duyuruMetniText').val(text + '<br />');
        $('textarea#duyuruMetniText').focus();
    });

    $('#btnCls').click(function () {
        $('textarea#duyuruMetniText').val('');
        $('textarea#duyuruMetniText').focus();
    });
</script>
