@model YazLab1.Models.UserModel

@{
    ViewBag.Title = "Yeni Kullanıcı Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="panel-heading">
    <b>Yeni Kullanıcı Ekle</b>
</div>

@*<input id="id" type="hidden" value="@Model.UserId" />*@
@using (Ajax.BeginForm("AddUser", "Admin", new AjaxOptions { OnSuccess = "onSuccess", UpdateTargetId = "parentDiv" }, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.userId)

    <div id="parentDiv" class="panel-body col-lg-4">
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.RadioButtonFor(m => m.tip, "1")  Admin
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButtonFor(m => m.tip, "2") Normal Kullanıcı
                </label>
            </div>
        </div>

        <div class="form-group">
            <p class="help-block"><b>Ünvan</b></p>
            @Html.TextBoxFor(model => model.title, new { @class = "form-control", @placeholder = "Ünvan" })
            @Html.ValidationMessageFor(model => model.title, null, new { @class = "help-inline" })
        </div>

        <div class="form-group">
            <p class="help-block"><b>Kullanıcı Adı</b></p>
            @*<input id="username" class="form-control" placeholder="Kullanıcı Adı" value="@Model.username">*@
            @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
            @Html.ValidationMessageFor(model => model.username, null, new { @class = "help-inline" })
        </div>
        <div class="form-group">
            <p class="help-block"><b>Şifre</b></p>
            @*<input id="password" class="form-control" placeholder="Şifre" value="@Model.password">*@
            @Html.TextBoxFor(model => model.password, new {@type="password", @class = "form-control", @placeholder = "Şifre" })
            @Html.ValidationMessageFor(model => model.password, null, new { @class = "help-inline" })
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Kaydet" />
        </div>
    </div>
}

<script type="text/javascript">
    function onSuccess(result) {
        $.validator.unobtrusive.parse($(result));
    }
</script>
