@model List<YazLab1.Models.Data.Models.SliderItem>

@{
    ViewBag.Title = "Slider Resimleri";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="panel-heading">
    <b>Slider Resimleri </b>
    @if (@TempData["add"] != null)
    {
        <b>(Slider Başarıyla Eklendi!)</b>
    }
    @if (@TempData["edit"] != null)
    {
        <b>(Slider Başarıyla Düzenlendi!)</b>
    }
    <a class="btn-primary btn" href="@Url.Action("AddSliderItem", "Admin")" style="float:right;text-decoration:none">Yeni Slider Resmi Ekle</a>
</div>
<div class="panel-body">
    <div class="table-responsive" style="margin-top:10px;">
        <table class="table table-striped table-bordered table-hover" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Başlık</th>
                    <th>Yazı</th>
                    <th>Url</th>
                    <th>Oluşturma Tarihi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:20%"><img src="@item.imageUrl" class="img-responsive" /></td>
                        <td>@item.baslik</td>
                        <td>@item.yazi</td>
                        <td>@item.url</td>
                        <td>@DateTime.ParseExact(@item.createDate, "dd.MM.yy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture).ToString("dd MMMM dddd yyyy HH:mm")</td>
                        <td><a href="@Url.Action("EditSliderItem", "Admin", new { id = @item.SliderItemId})" target="_blank">Düzenle</a></td>
                        <td><a href="#" onclick="SliderSil(@item.SliderItemId)">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var table;
    $(document).ready(function () {
        table = $('#myTable').DataTable({
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Hepsi"]],
            "order": [[1, "desc"]],
            language: {
                search: "Ara: ",
                sInfo: " _START_ ve _END_ arasından toplam _TOTAL_ tane gösteriliyor",
                sLengthMenu: "_MENU_ tane göster",
                sEmptyTable: "Hiç Bir Sonuç Bulunamadı",
                paginate: {
                    previous: "Geri",
                    next: "İleri",
                },
                sZeroRecords: "Hiç Bir Sonuç Bulunamadı",
                sEmptyTable: "Eşleşen Sonuç Yok",
                sInfoFiltered: "(Filtrelenen toplam _MAX_ taneden)",
                sInfoEmpty : "0 sonuç gösteriliyor"
            },
        });
    });

    function SliderSil(id) {
        if (confirm('Slider Resmi silinsin mi?')) {
            var turId = id;
            jQuery.ajax({
                url: '@Url.Action("DeleteSliderItem", "Admin")',
                data: { id: turId }
            }).done(function (val) {
                if (val == "yes") {
                    alert("Kaydedildi.");
                    location.reload(true);
                }
                else { alert("Bir Hata Oluştu!"); location.reload(true); }
            });
        }
        else { }
    }
</script>